apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../../base
  - httproute.yaml

namePrefix: dev-

labels:
  - pairs:
      environment: dev
    includeSelectors: false

# Dev environment: minimal resources, single replica
patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "64Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "50m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "128Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "250m"
    target:
      kind: Deployment
      name: fastapi

images:
  - name: IMAGE_PLACEHOLDER
    newName: docker.io/prasannasn/fastapi-devops
    newTag: latest
